<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>alpha</key>
		<string>ก</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>ご</string>
		<key>remark</key>
		<string>ไก่ ไ- ai</string>
		<key>resIndex</key>
		<string>1</string>
		<key>typeNo</key>
		<string>2</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ข</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>こ↗</string>
		<key>remark</key>
		<string>ไข่ ไ- ai</string>
		<key>resIndex</key>
		<string>2</string>
		<key>typeNo</key>
		<string>1</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ค</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>b</string>
		<key>read</key>
		<string>こ</string>
		<key>remark</key>
		<string>ควาย</string>
		<key>resIndex</key>
		<string>4</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ฆ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>b</string>
		<key>read</key>
		<string>こ</string>
		<key>remark</key>
		<string>ระฆัง</string>
		<key>resIndex</key>
		<string>6</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ง</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string>งู</string>
		<key>resIndex</key>
		<string>7</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>จ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>ぞ</string>
		<key>remark</key>
		<string>จาน zan</string>
		<key>resIndex</key>
		<string>8</string>
		<key>typeNo</key>
		<string>2</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ฉ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>ch↗</string>
		<key>remark</key>
		<string>ฉีง ching</string>
		<key>resIndex</key>
		<string>9</string>
		<key>typeNo</key>
		<string>1</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ช</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>c</string>
		<key>read</key>
		<string>ch</string>
		<key>remark</key>
		<string>ช้าง chang</string>
		<key>resIndex</key>
		<string>10</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ซ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>そ</string>
		<key>remark</key>
		<string>โซ</string>
		<key>resIndex</key>
		<string>11</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ฌ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>c</string>
		<key>read</key>
		<string>撮</string>
		<key>remark</key>
		<string>เฌอ เ-อ /ɜː/</string>
		<key>resIndex</key>
		<string>12</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ญ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>d</string>
		<key>read</key>
		<string>よ</string>
		<key>remark</key>
		<string>หญิง</string>
		<key>resIndex</key>
		<string>13</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ฎ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>a</string>
		<key>read</key>
		<string>ど！</string>
		<key>remark</key>
		<string>ชฎา d!a</string>
		<key>resIndex</key>
		<string>14</string>
		<key>typeNo</key>
		<string>2</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ฏ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>a</string>
		<key>read</key>
		<string>ど</string>
		<key>remark</key>
		<string>ปฏัก bda</string>
		<key>resIndex</key>
		<string>15</string>
		<key>typeNo</key>
		<string>2</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ฐ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>b</string>
		<key>read</key>
		<string>と↗</string>
		<key>remark</key>
		<string>ฐาน tan</string>
		<key>resIndex</key>
		<string>16</string>
		<key>typeNo</key>
		<string>1</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ฑ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>a</string>
		<key>read</key>
		<string>と</string>
		<key>remark</key>
		<string>มณโฑ</string>
		<key>resIndex</key>
		<string>17</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ฒ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>a</string>
		<key>read</key>
		<string>と</string>
		<key>remark</key>
		<string>ผู้เฒ่า putao</string>
		<key>resIndex</key>
		<string>18</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ณ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>e</string>
		<key>read</key>
		<string>の</string>
		<key>remark</key>
		<string>เณร neng</string>
		<key>resIndex</key>
		<string>19</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ด</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>b</string>
		<key>read</key>
		<string>ど！</string>
		<key>remark</key>
		<string>เด็ก</string>
		<key>resIndex</key>
		<string>20</string>
		<key>typeNo</key>
		<string>2</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ต</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>b</string>
		<key>read</key>
		<string>ど</string>
		<key>remark</key>
		<string>เต่า เ-า 凹</string>
		<key>resIndex</key>
		<string>21</string>
		<key>typeNo</key>
		<string>2</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ถ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>b</string>
		<key>read</key>
		<string>と↗</string>
		<key>remark</key>
		<string>ถูง tung</string>
		<key>resIndex</key>
		<string>22</string>
		<key>typeNo</key>
		<string>1</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ท</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>a</string>
		<key>read</key>
		<string>と</string>
		<key>remark</key>
		<string>ทหาร</string>
		<key>resIndex</key>
		<string>23</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ธ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>a</string>
		<key>read</key>
		<string>と</string>
		<key>remark</key>
		<string>ธง tong</string>
		<key>resIndex</key>
		<string>24</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>น</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>e</string>
		<key>read</key>
		<string>の</string>
		<key>remark</key>
		<string>หนู nu</string>
		<key>resIndex</key>
		<string>25</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>บ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>c</string>
		<key>read</key>
		<string>ぼ！</string>
		<key>remark</key>
		<string>ใบไม้ b!ai mai</string>
		<key>resIndex</key>
		<string>26</string>
		<key>typeNo</key>
		<string>2</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ป</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>c</string>
		<key>read</key>
		<string>ぼ</string>
		<key>remark</key>
		<string>ปลา bla</string>
		<key>resIndex</key>
		<string>27</string>
		<key>typeNo</key>
		<string>2</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ผ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>ぽ↗</string>
		<key>remark</key>
		<string>ผึ้ง ,-ึ peng</string>
		<key>resIndex</key>
		<string>28</string>
		<key>typeNo</key>
		<string>1</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ฝ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>fo↗</string>
		<key>remark</key>
		<string>ฝา ,fa</string>
		<key>resIndex</key>
		<string>29</string>
		<key>typeNo</key>
		<string>1</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>พ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>f</string>
		<key>read</key>
		<string>ぽ</string>
		<key>remark</key>
		<string>พาน ,pan</string>
		<key>resIndex</key>
		<string>30</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ฟ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>fo</string>
		<key>remark</key>
		<string>ฟัน</string>
		<key>resIndex</key>
		<string>31</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ภ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>f</string>
		<key>read</key>
		<string>ぽ</string>
		<key>remark</key>
		<string>สำเภา</string>
		<key>resIndex</key>
		<string>32</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ม</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>も</string>
		<key>remark</key>
		<string>ม้า , ma</string>
		<key>resIndex</key>
		<string>33</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ย</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>d</string>
		<key>read</key>
		<string>よ</string>
		<key>remark</key>
		<string>ยักษ์</string>
		<key>resIndex</key>
		<string>34</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ร</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>若</string>
		<key>remark</key>
		<string>เรือ , เ-อ /ɜː/</string>
		<key>resIndex</key>
		<string>35</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ล</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>g</string>
		<key>read</key>
		<string>ろ</string>
		<key>remark</key>
		<string>ลิง , ling</string>
		<key>resIndex</key>
		<string>36</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ว</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>wo</string>
		<key>remark</key>
		<string>แหวน</string>
		<key>resIndex</key>
		<string>37</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ศ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>a</string>
		<key>read</key>
		<string>そ↗</string>
		<key>remark</key>
		<string>ศาลา, sala</string>
		<key>resIndex</key>
		<string>38</string>
		<key>typeNo</key>
		<string>1</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ษ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>a</string>
		<key>read</key>
		<string>そ↗</string>
		<key>remark</key>
		<string>ฤาษี</string>
		<key>resIndex</key>
		<string>39</string>
		<key>typeNo</key>
		<string>1</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ส</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>a</string>
		<key>read</key>
		<string>そ↗</string>
		<key>remark</key>
		<string>เสือ , เ-ือ</string>
		<key>resIndex</key>
		<string>40</string>
		<key>typeNo</key>
		<string>1</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ห</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>ほ↗</string>
		<key>remark</key>
		<string>หีบ, hi,บぼ!尾</string>
		<key>resIndex</key>
		<string>41</string>
		<key>typeNo</key>
		<string>1</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ฬ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>g</string>
		<key>read</key>
		<string>ろ</string>
		<key>remark</key>
		<string>จุฬา, la</string>
		<key>resIndex</key>
		<string>42</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>อ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>お/を</string>
		<key>remark</key>
		<string>อ่าง, ang</string>
		<key>resIndex</key>
		<string>43</string>
		<key>typeNo</key>
		<string>2</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ฮ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>ほ</string>
		<key>remark</key>
		<string>นกฮูก</string>
		<key>resIndex</key>
		<string>44</string>
		<key>typeNo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>-ะ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>a</string>
		<key>read</key>
		<string>あ</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>45</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>-า</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>a</string>
		<key>read</key>
		<string>あ</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>46</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>-ิ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>b</string>
		<key>read</key>
		<string>い</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>47</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>-ี</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>b</string>
		<key>read</key>
		<string>い</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>48</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>-ึ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>c</string>
		<key>read</key>
		<string>低扁e</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>49</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>-ื</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>c</string>
		<key>read</key>
		<string>低扁e</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>50</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>-ุ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>d</string>
		<key>read</key>
		<string>う</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>51</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>-ู</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>d</string>
		<key>read</key>
		<string>う</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>52</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>เ-ะ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>e</string>
		<key>read</key>
		<string>え</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>53</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>เ-</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>e</string>
		<key>read</key>
		<string>え</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>54</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>แ-ะ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>f</string>
		<key>read</key>
		<string>/æ/</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>55</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>แ-</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>f</string>
		<key>read</key>
        <string>/æ:/</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>56</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>โ-ะ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>g</string>
		<key>read</key>
		<string>o</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>57</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>โ-</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>g</string>
		<key>read</key>
		<string>o</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>58</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>เ-าะ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>h</string>
		<key>read</key>
		<string>お/を</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>59</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>-อ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>h</string>
		<key>read</key>
		<string>お/を</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>60</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>เ-อะ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>i</string>
		<key>read</key>
		<string>earth的/ɜː/</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>61</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>เ-อ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>i</string>
		<key>read</key>
		<string>earth的/ɜː/</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>62</string>
		<key>typeNo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>sg</string>
		<key>author</key>
		<string></string>
		<key>groupSymbol</key>
		<string></string>
		<key>read</key>
		<string></string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string></string>
		<key>typeNo</key>
		<string></string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>เ-ียะ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>k</string>
		<key>read</key>
		<string>や</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>63</string>
		<key>typeNo</key>
		<string>5</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>เ-ีย</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>k</string>
		<key>read</key>
		<string>いあ〜</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>64</string>
		<key>typeNo</key>
		<string>5</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>เ-ือะ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>l</string>
		<key>read</key>
		<string>ea</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>66</string>
		<key>typeNo</key>
		<string>5</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>เ-ือ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>l</string>
		<key>read</key>
        <string>ea:</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>65</string>
		<key>typeNo</key>
		<string>5</string>
 </dict>
 <dict>
  <key>alpha</key>
  <string>-ัวะ</string>
  <key>author</key>
  <string>beyond</string>
  <key>groupSymbol</key>
  <string>j</string>
  <key>read</key>
  <string>わ</string>
  <key>remark</key>
  <string></string>
  <key>resIndex</key>
  <string>68</string>
  <key>typeNo</key>
  <string>5</string>
 </dict>
	<dict>
		<key>alpha</key>
		<string>-ัว</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>j</string>
		<key>read</key>
		<string>うあ〜</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>67</string>
		<key>typeNo</key>
		<string>5</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>-ำ</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>am</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>72</string>
		<key>typeNo</key>
		<string>6</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ใ-</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>a</string>
		<key>read</key>
		<string>ai</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>73</string>
		<key>typeNo</key>
		<string>6</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ไ-</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>a</string>
		<key>read</key>
		<string>ai</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>74</string>
		<key>typeNo</key>
		<string>6</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>เ-า</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>z</string>
		<key>read</key>
		<string>ao凹</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>75</string>
		<key>typeNo</key>
		<string>6</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ฤ(รึ)</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>b</string>
		<key>read</key>
		<string>特殊</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>76</string>
		<key>typeNo</key>
		<string>6</string>
	</dict>
	<dict>
		<key>alpha</key>
		<string>ฤา(รื)</string>
		<key>author</key>
		<string>beyond</string>
		<key>groupSymbol</key>
		<string>b</string>
		<key>read</key>
		<string>特殊</string>
		<key>remark</key>
		<string></string>
		<key>resIndex</key>
		<string>77</string>
		<key>typeNo</key>
		<string>6</string>
	</dict>
</array>
</plist>
